<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %} Agri  {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="{{ url_for('static', filename='FontAwesome/css/fontawesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='FontAwesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='FontAwesome/css/solid.css') }}" rel="stylesheet">
    
    <!-- <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-3 border mb-3">
      <a class="navbar-brand" href="#"> <i class="fas fa-tractor"></i> AgriControl</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link text-dark" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <div class="rounded-border ">
          <div class="dropdown d-flex justify-content-center">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bem vindo {{ user }}            
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
              <form class="dropdown-item w-100 text-center" action="./logout" method="get">
                <!-- <a class="dropdown-item w-100" href="./login"> <i class="fas fa-door-open mr-4"></i> Deslogar</a> -->
                  <i class="fas fa-door-open"></i><input style="border:none;outline:none" class="w-100 h-100" type="submit" value="Deslogar"> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>