{% extends 'app_auth.html' %}

<!-- método super mantem o que tem no block e adiciona o conteudo adicional -->
{% block title %} {{ super() }} - Index {% endblock %}

{% block content %}

<table class="table text-center">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cultivo</th>
            <th>qtdAnual</th>
            <th>Agrotóxico</th>
        </tr>
    </thead>
    <tbody>
        {% for producer in Producers %}
        <tr>
            <td>{{ producer.name }}</td>
            <td>{{ producer.farming }}</td>
            <td>{{ producer.annualamount }}</td>
            <td>{{ producer.pesticide }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}